#header,
#sidebar,
#footer,
.menu-box,
.second-level-menu,
.sidebox {
    display: none;
}

.ttypography {
    padding-top: 0;
}

#pageContent {
    padding-top: 0 !important;
    margin: 0 !important;
}
