@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --primary-first: #1c7ed6;
  --primary-first-50: rgba(28, 127, 214, 0.5);
}

/* Reset */

html {
  font-size: 62.5%;
  overflow-x: hidden;

  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", "Poppins", sans-serif !important;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/* Focus State */

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem var(--primary-first-50);
}

/* Scroll Bar */

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  /* background-color: #e9ecef; */
  margin: .4rem 0 1rem;
  border-radius: 10rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 10rem;
  background-image: linear-gradient(45deg, #adb5bd 0%, #ced4da 100%);
  box-shadow: inset 0.2rem 0.2rem 0.5rem 0 rgba(#fff, 0.5);
}
